---
import img1 from '../images/logo-google.png';
import img2 from '../images/logo-ibm.png';
import img3 from '../images/logo-microsoft.png';
import img4 from '../images/logo-hp.png';
import img5 from '../images/logo-vector-graphics.png';
---

<div class="mx-auto text-center flex flex-col justify-center gap-16 my-36 lg:my-56 items-center lg:flex-row ">
    <img class="w-max" src={img1.src} alt="">
    <img class="w-max" src={img2.src} alt="">
    <img class="w-max" src={img3.src} alt="">
    <img class="w-max" src={img4.src} alt="">
    <img class="w-max" src={img5.src} alt="">
</div>